<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- bean definitions here -->
    <bean id="class1" class="org.example.Class_">
        <property name="classID" value="DHKTPM17C"/>
        <property name="className" value="Đại Học KTPM17C"/>
    </bean>

    <bean id="student1" class="org.example.Student">
        <property name="id" value="001"/>
        <property name="name" value="Nguyen Van A"/>
    </bean>

    <bean id="student2" class="org.example.Student">
        <property name="id" value="002"/>
        <property name="name" value="Nguyen Van B"/>
        <property name="class_" ref="class1"/> <!-- Inject bean khác -->
    </bean>


    <!-- Inject một danh sách các Address và danh sách email vào object Person -->
    <bean id="address1" class="org.example.Address">
        <property name="street" value="Nguyen Van Bao"/>
        <property name="city" value="HCM"/>
        <property name="country" value="Viet Nam"/>
    </bean>

    <bean id="address2" class="org.example.Address">
        <property name="street" value="Nguyen Thai Son"/>
        <property name="city" value="HCM"/>
        <property name="country" value="Viet Nam"/>
    </bean>

    <bean id="person" class="org.example.Person">
        <property name="name" value="Nguyen Van A"/>
        <property name="addresses">
            <list>
                <ref bean="address1"/>
                <ref bean="address2"/>
            </list>
        </property>
        <property name="emails">
            <list>
                <value>a1@gmail.com</value>
                <value>a1@yopmail.com</value>
            </list>
        </property>
    </bean>

</beans>
